# Enviroment mode
NODE_ENV=

# Persistence type
PERS=

# Port
PORT=

# MongoDB
MONGODB_URI= 'mongodb+srv://gonzabarreiro7:-Q99PYDAxYuL@u4@cluster0.l3uagqr.mongodb.net/test';
MONGODB_ATLAS_URI=

# Twilio
TWILIO_ACCOUNT_SID= 'AC71869a5a868a6cf263414802ec3fbc0d'
TWILIO_AUTH_TOKEN= '86a88d4bb5a660a902dc8fe35f75b885'
TWILIO_PHONE=   '(+34)662567229'

# Nodemailer
NODEMAILER_USER='gonzabarreiro7@gmail.com'
NODEMAILER_PASS='1234'
NODEMAILER_FROM=

# JWT secret token
JWT_SECRET_TOKEN=